{% extends 'base.html' %}

{%block 'titulo'%} Cadastro de Usuario {%endblock%}


{% block 'head'%} 
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Cadastro</a>
</nav>
{%endblock%}
{%block 'conteudo'%}


<div class = "container">


   {% if status == '1' %}
        <div class="alert alert-danger" role="alert">
        Email ou senha em Branco!!!
        </div>
    {% endif %}

    {% if status == '2' %}
        <div class="alert alert-danger" role="alert">
        Senha menor que 8 digitos
        </div>
    {% endif %}

    {% if status == '3' %}
        <div class="alert alert-danger" role="alert">
        Usuario ja cadastrado
        </div>
    {% endif %}

    {% if status == '0' %}
        <div class="alert alert-success" role="alert">
        Usuario Cadastrado com Sucesso!!
        </div>
    {% endif %}

    {% if status == '4' %}
        <div class="alert alert-danger" role="alert">
        Erro Interno do Sistema
        </div>
    {% endif %}


    
    <div class = "row">
        
        <div class = "col-md-3">
        </div>

        <div class = "col-md">
            <h1> Cadastre-se </h1>
            <hr>
            <form method ="POST" action = "{%url 'valida_cadastro'%}"> {% csrf_token %}
                <label>Nome</label>
                <input class="form-control" type ="text" placeholder = "Nome" name = "Nome"><br>

                <label>Email </label>
                <input class="form-control" type ="text" placeholder = "Email" name = "Email"><br>
                
                <label>Senha</label>
                <input class="form-control" type ="password" placeholder = "Senha" name = "Senha"><br>
                
                <input class="btn btn-info btn-red" type ="submit" value = "enviar">
                <a href = "{% url 'login' %}" class = "btn btn-info btn-red">Login</a>
        </div>

        <div class = "col-md-3">
        </div>
    </div>
</div>

{%endblock%}